:root {
  --color-neutral-0: #FFFFFF;
  --color-neutral-600: #3C3B5E;
  --color-neutral-700: #3a3a4d;
  --color-neutral-800: #262540;
  --color-neutral-900: #02012C;

  --color-blue-500: #4658D9;
  --color-blue-700: #2B1B9C;
  --radius-12: 12px;
}
